.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}
  
.page-item {
    margin: 0 10px;
}
  
.page-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ba0c0e;
    font-weight: bold;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
  
.page-link:hover {
    background-color: #f1f1f1;
    color: #ba0c0e;
}
  
.page-item.disabled .page-link {
    color: black;
    pointer-events: none;
}
  