.table-row-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: 100%;
}

.table-line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
