#ticket-reservation-modal.hidden,
.hidden {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.ticket-reservation-close {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
}

#ticket-reservation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: max-content;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    padding: 24px;
}

#ticket-reservation-modal h1{
    margin: 0;
}

#ticket-reservation-modal h2{
    margin: 0;
    margin-bottom: 24px;
}

.ticket-reservation-container {
    height: 100%;
    padding: 8px 40px;
    gap:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticket-reservation-info-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ticket-reservation-info {
    display: flex;
    gap: 24px;

    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
