#news-body {
    margin: 0;
    padding: 0;
}

.news-container {
    max-width: 800px;
    margin: 20px auto;
    min-height: 100vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 40px;
    text-align: center;
    color: #ba0c0e;
    margin-bottom: 40px;
}

.news-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.news-title {
    font-size: 1.5em;
    color: #ba0c0e;
    margin: 0 0 10px 0;
    text-align: left;
}

.news-date {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 15px;
}

.news-content {
    font-size: 1em;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
}

.read-more-btn {
    background-color: #ba0c0e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 1px solid #ba0c0e;
}

.read-more-btn:hover {
    background-color: #eee;
    color: #ba0c0e;
    border: 1px solid #ba0c0e;
}

#search-news {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

#search-news::placeholder {
    color: #999;
}

#search-news:focus {
    border-color: #ba0c0e;
}

.pn-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.news-search-container {
    width: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-btn-div {
    display: flex;
    justify-content: space-between;
}

.news-admin-btn {
    border: none;
    background-color: white;
}

@media screen and (max-width: 600px) {
    .news-container {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }

    .news-card {
        max-width: 100%;
        padding: 10px;
    }

    .news-title {
        font-size: 1.2em;
    }

    .news-date {
        font-size: 0.8em;
    }

    .news-content {
        font-size: 0.9em;
    }

    .read-more-btn {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    #search-news {
        max-width: 100%;
        margin-top: 10px;
    }

    .pn-cards {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .news-search-container {
        width: 100%;
        margin-bottom: 10px;
    }
}