.news-image {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.news-image--logo {
    background-color: #ba0c0f;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 8px;
}

@media screen and (max-width: 630px) {
    .news-card {
        width: 95%;
    }

    #search-news {
        width: 95%;
    }
}
