/* body {
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
} */

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-content img {
    height: 100px;
}

.menu-bar {
    border-radius: 20px;
    height: fit-content;
    display: inline-flex;
    background-color: #ba0c0e;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 30px 0 0 0;
    li {
        list-style: none;
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        padding: 12px 16px;
        margin: 0 8px;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            transition: 0.2s;
            border-radius: 25px;
        }
        &:hover {
            &::before {
                background-color: white;
                box-shadow: 0px 3px 20px 0px black;
                transform: scale(1.2);
            }
            color: black;
        }
    }
}

.menu-bar-responsive {
    padding: 0;
    margin-bottom: 150px;
    z-index: 100;

    h1 {
        position: fixed;
        top: 35px;
        left: 40px;
        z-index: 6;
        margin: 0;
        font-size: calc(0.9em + 1vw);
        font-weight: 900;
        font-family: sans-serif;
        text-transform: uppercase;
        > span {
            text-transform: none;
            opacity: 0.5;
            font-weight: 300;
            font-size: 12px;
        }
    }
    input + label {
        position: fixed;
        top: 40px;
        right: 40px;
        height: 20px;
        width: 15px;
        z-index: 5;
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            top: 50%;
            margin-top: -1px;
            left: 0;
            display: block;
            background: #020304;
            transition: 0.5s;
        }
        span:first-child {
            top: 3px;
        }
        span:last-child {
            top: 16px;
        }
    }
    label:hover {
        cursor: pointer;
    }
    input:checked + label {
        span {
            opacity: 0;
            top: 50%;
        }
        span:first-child {
            opacity: 1;
            transform: rotate(405deg);
        }
        span:last-child {
            opacity: 1;
            transform: rotate(-405deg);
        }
    }
    input ~ nav {
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 3;
        transition: 0.5s;
        transition-delay: 0.5s;
        overflow: hidden;
        > ul {
            text-align: center;
            position: absolute;
            top: 35%;
            left: 20%;
            right: 20%;
            > li {
                opacity: 0;
                transition: 0.5s;
                transition-delay: 0s;
                > a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #020304;
                    font-weight: 700;
                    font-family: sans-serif;
                    display: block;
                    padding: 30px;
                }
            }
        }
    }
    input:checked ~ nav {
        height: 100%;
        transition-delay: 0s;
        > ul {
            > li {
                opacity: 1;
                transition-delay: 0.5s;
            }
        }
    }

    ul {
        list-style: none;
    }
}

.menu-bar-responsive {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu-bar {
        display: none;
    }

    .menu-bar-responsive {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .menu-bar-responsive {
        h1 {
            top: 25px;
            left: 20px;
            max-width: 250px;
        }
    }
}
