.welcome-div {
    margin-top: -73px;
    background-image: url("../../images/group-buses-driving-along-road-sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-ttl {
    font-size: 72px;
    background: linear-gradient(to right, #ba0c0e 10%, #ffdb15 50%, #eee 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.red-div {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-div h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ba0c0e;
}

.choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 80px;

    gap: 15px;
    font-size: 24px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.choose label {
    width: 300px;
    text-align: left;
}

.choose input {
    width: 300px;
    height: 50px;
    font-size: 18px;
    padding: 4px 8px;
    border-top: 0 solid black;
    border-left: 0 solid black;
    border-right: 0 solid black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.choose button {
    width: 300px;
    height: 50px;
    font-size: 18px;
    background-color: #ba0c0e;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid #ba0c0e;
}

.choose button:hover {
    background-color: #eee;
    color: #ba0c0e;
    border: 1px solid #ba0c0e;
}

#mapa {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 90%;
}

#mapa p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #ba0c0e;
}

#mapa h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ba0c0e;
}

#mapa iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 8px;
}

#big-div-map {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#pom-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: max-content;
    gap: 50px;
}

.contact-div img {
    width: 300px;
    border-radius: 10px 0 0 10px;
}

#pom-div2 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#contact-info{
    width: 500px;
}

#contact-info h1 {
    color: #ba0c0e;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 50px;
    color: #ba0c0e;
    width: 500px;
}

#contact-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

#contact-table th {
    background-color: #ba0c0e;
    color: white;
    text-align: left;
    padding: 8px;
}

#contact-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

#contact-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#contact-table tr:hover {
    background-color: #ddd;
}

#pom-div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.novosti {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: #ba0c0e;
    margin: 0 auto;
}

.ttl-and-date {
    display: flex;
    flex-direction: column;
}

.ttl-and-date h1 {
    font-size: 28px;
    color: #ba0c0e;
    margin: 0 0 10px 0;
}

.ndate {
    font-size: 0.9em;
    color: #777;
}

.choose > .add-line-input-container > .dropdown-container > .dropdown-card {
    font-size: 16px;
}

@media screen and (max-width: 1024px){
    .contact-div img {
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .welcome-div {
        height: 400px;
    }

    .welcome-ttl {
        font-size: 48px;
    }

    .red-div h1 {
        font-size: 24px;
    }

    .choose {
        padding: 40px;
        font-size: 18px;
    }

    .choose label,
    .choose input,
    .choose button {
        width: 250px;
    }

    #mapa p {
        font-size: 1.2em;
    }

    #mapa h1 {
        font-size: 1.5em;
    }

    #mapa iframe {
        height: 300px;
    }

    #big-div-map {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .contact-div img {
        width: 250px;
    }

    #contact-info h1 {
        font-size: 24px;
    }

    .contact {
        width: 400px;
    }

    #contact-table {
        font-size: 16px;
    }

    .novosti {
        flex-direction: column;
        align-items: center;
    }

    .ttl-and-date h1 {
        font-size: 24px;
    }

    .contact{
        width: 100%;
    }

    #contact-info{
        width: 300px;
    }

    #contact-table th, #contact-table td {
        display: block;
        width: 100%;
    }

    #contact-table thead{
        display: none;
    }

    #contact-div tr{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }

    #contact-div td{
        display: block;
        text-align: center;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 643px){
    .contact-div img{
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .choose{
        width: 95%;
    }
    
    #contact-info{
        width: 250px;
    }

    .red-div{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}