.choose-city-container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 400px;
}

#cityTable {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 20px;
}

.red-voznje-content {
    width: 80%;
    text-align: center;
    margin: 40px auto;
    min-height: 100vh;
}

.red-voznje-content h2 {
    margin: 40px 0;
}

.red-voznje-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .red-voznje-table-header {
        background-color: #e4e4e7;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .red-voznje-table-row {
        background-color: #ffffff;
        transition: background-color 0.5s ease;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .red-voznje-row-hover:hover {
        background-color: #ba0c0f40;
    }

    .col {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-1 {
        flex-basis: 12.5%;
    }
    .col-2 {
        flex-basis: 12.5%;
    }
    .col-3 {
        flex-basis: 12.5%;
    }
    .col-4 {
        flex-basis: 12.5%;
    }
    .col-5 {
        flex-basis: 12.5%;
    }
    .col-6 {
        flex-basis: 12.5%;
    }
    .col-7 {
        flex-basis: 12.5%;
    }
    .col-8 {
        flex-basis: 12.5%;
    }

    .col-content {
        padding: 0 24px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        margin-bottom: 0;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }
        li {
            display: block;
        }
        .col {
            flex-basis: 100%;
        }
        .col {
            display: flex;
            padding: 10px 0;
            &:before {
                color: #6c7a89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}

.red-voznje-icons {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.plus-minus {
    --primary: #1e2235;
    --secondary: transparent;
    --duration: 0.5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 240px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 4px solid var(--primary);
    background-size: 300% 300%;
    transition: transform 0.3s;
    transform: scale(var(--scale, 1)) translateZ(0);
    -webkit-animation: var(--name, unchecked) var(--duration) ease forwards;
    animation: var(--name, unchecked) var(--duration) ease forwards;
}

.plus-minus:before,
.plus-minus:after {
    content: "";
    position: absolute;
    width: 16px;
    height: var(--height, 16px);
    left: 6px;
    top: var(--top, 6px);
    background: var(--background, var(--primary));
    -webkit-animation: var(--name-icon-b, var(--name-icon, unchecked-icon))
        var(--duration) ease forwards;
    animation: var(--name-icon-b, var(--name-icon, unchecked-icon))
        var(--duration) ease forwards;
}

.plus-minus:before {
    -webkit-clip-path: polygon(
        0 6px,
        6px 6px,
        6px 0,
        10px 0,
        10px 6px,
        16px 6px,
        16px 10px,
        10px 10px,
        10px 16px,
        6px 16px,
        6px 10px,
        0 10px
    );
    clip-path: polygon(
        0 6px,
        6px 6px,
        6px 0,
        10px 0,
        10px 6px,
        16px 6px,
        16px 10px,
        10px 10px,
        10px 16px,
        6px 16px,
        6px 10px,
        0 10px
    );
}

.plus-minus:after {
    --height: 4px;
    --top: 12px;
    --background: white;
    --name-icon-b: var(--name-icon-a, checked-icon);
}

.plus-minus:active {
    --scale: 0.95;
}

.plus-minus:checked {
    --name: checked;
    --name-icon-b: checked-icon;
    --name-icon-a: unchecked-icon;
}

@keyframes checked-icon {
    from {
        transform: translateZ(12px);
    }

    to {
        transform: translateX(16px) rotateY(90deg) translateZ(12px);
    }
}

@keyframes unchecked-icon {
    from {
        transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
    }

    to {
        transform: translateZ(12px);
    }
}

@keyframes checked {
    from {
        background-image: radial-gradient(
            ellipse at center,
            var(--primary) 0%,
            var(--primary) 25%,
            var(--secondary) 25.1%,
            var(--secondary) 100%
        );
        background-position: 100% 50%;
    }

    to {
        background-image: radial-gradient(
            ellipse at center,
            var(--primary) 0%,
            var(--primary) 25%,
            var(--secondary) 25.1%,
            var(--secondary) 100%
        );
        background-position: 50% 50%;
    }
}

@keyframes unchecked {
    from {
        background-image: radial-gradient(
            ellipse at center,
            var(--secondary) 0%,
            var(--secondary) 25%,
            var(--primary) 25.1%,
            var(--primary) 100%
        );
        background-position: 100% 50%;
    }

    to {
        background-image: radial-gradient(
            ellipse at center,
            var(--secondary) 0%,
            var(--secondary) 25%,
            var(--primary) 25.1%,
            var(--primary) 100%
        );
        background-position: 50% 50%;
    }
}

.admin-icon {
    width: 40px;
    height: 40px;
    stroke: #1e2235;
}

.admin-icon:hover {
    stroke: #ba0c0e;
}

@media screen and (max-width: 460px){
    .choose-city-container {
        width: 100%;
    }
    #cityTable {
        width: 100%;
    }
}