* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #ccc;
}

input:focus {
    border-color: #ba0c0e;
    outline: none;
}

.dropdown-container {
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dropdown-container::-webkit-scrollbar {
    display: none;
}
