.pagination-numbers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button-page {
    width: 34px;
    height: 34px;
    padding: 8px;
    background-color: #393e41;
    color: #d9d9d9;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    font-size: 1.1em;
}

.button-page:hover {
    background-color: #d9d9d9;
    color: #393e41;
}

.button-page--active {
    background-color: #ba0c0e;
    color: #d9d9d9;
}

.icon-page {
    width: 32px;
    height: 32px;
    padding: 6px;
    stroke: #d9d9d9;
    stroke-width: 2px;
    cursor: pointer;

    border-radius: 50px;
    background-color: #393e41;
}

.icon-page:hover {
    background-color: #d9d9d9;
    stroke: #393e41;
}

@media screen and (max-width: 768px) {
    .button-page {
        width: 24px;
        height: 24px;
        padding: 4px;
        font-size: 1em;
    }

    .icon-page {
        width: 14px;
        height: 14px;
        padding: 4px;
    }
}
