.pagination-numbers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.button-page {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ba0c0e;
    font-weight: bold;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 55.06px;
    height: 40px;
    margin-bottom: 10px;
}

.button-page:hover {
    background-color: #f1f1f1;
    color: #ba0c0e;
    cursor: pointer;
}

.button-page--active {
    background-color: #ba0c0e;
    color: #f1f1f1;
    cursor: pointer;
}

.icon-page {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ba0c0e;
    font-weight: bold;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.icon-page:hover {
    background-color: #d9d9d9;
    color: #ba0c0e;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .icon-page .button-page {
        width: 40px;
        height: 40px;
        padding: 4px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
