.theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.theme-toggle-button:hover {
    color: black;
}

.dark-mode-icn {
    color: white;
}

.dark-mode-icn:hover {
    color: black;
}