#cjenovnik-body {
    padding: 20px;
    color: #333;
    background-color: #f8f9fa;
    text-align: center;
}

h1 {
    color: #ba0c0e;
    margin-bottom: 30px;
}

#search-prices {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
    margin-top: 20px;
}

#search-prices:focus {
    border-color: #ba0c0e;
}

#table-container {
    margin: 0 auto;
    overflow-x: auto;
    margin-bottom: 40px;
}

#cjenovnik-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#cjenovnik-table th,
td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

#cjenovnik-table th {
    background-color: #ba0c0e;
    color: #fff;
}

#cjenovnik-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#cjenovnik-table tr:hover {
    background-color: #dddddda7;
}

.stations-dropdown-container {
    display: inline-flex;
    justify-content: center;
    width: 400px;
    margin-bottom: 20px;
}
