.dropdown-card {
    width: 100%;
    display: flex;
    padding: 16px;
    align-items: center;
    color: #e4e4e4;
    background-color: #ba0c0f;
    z-index: 2;
    text-decoration: none;
  }
  
.dropdown-card:last-child {
border-radius: 0 0 10px 10px;
}
