#login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#loginttl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

#loginttl a {
    text-decoration: none;
    color: #ba0c0e;
    font-weight: bold;
}

#loginttl a:hover {
    text-decoration: underline;
}
  
#login-h1 {
    text-align: center;
    color: #ba0c0e;
}
  
.login-form {
    display: flex;
    flex-direction: column;
}
  
.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
  
.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
  
.login-form button {
    padding: 10px;
    background-color: #ba0c0e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 40px;
}
  
.login-form button:hover {
    color: #ba0c0e;
    background-color: #eee;
    border: 1px solid #ba0c0e;
}
  
.error-message {
    color: #ba0c0e;
    margin-bottom: 15px;
    text-align: center;
}
  